body{
    background-color: palevioletred;
    text-align:center;
    background-image: no-repeat;
    background-size: cover;
    font-weight: 700;
    font-size: 20px;
    margin: auto;
}
#container{
    height: 700px;
    width: 1802px;
    margin: auto;
    border: solid black 1px;
}
header{
    width:1802px; 
    height: 40px;
}

img{
    margin: auto;
}
section{
    float:left;
    width: 600px;
    height: 630px;
    border: solid black 1px;
    padding:5px;
}
footer{
    clear: both;
}
*{
    box-sizing: border-box;
    
}

button.invButton {
    color: var(--main-text-color);
    
}

.border {
    border: 3px solid white;
    border-radius: 5px;
    width: 100px;
}

#invWindow{
    margin: auto;
}
#invList{
    margin: auto;
}

